@use "sass:color";
@use "variables";
@use "mixins";

.price-tracker-chart-wrapper {
  @include mixins.price-tracker-wrapper;

  .price-tracker-chart-title {
    @include mixins.price-tracker-title;
  }

  .price-tracker-chart-filter {
    @include mixins.price-tracker-filter;
    .price-tracker-label-wrapper {
      @include mixins.price-tracker-label-wrapper;
      label {
        @include mixins.price-tracker-label;

        input[type="date"] {
          @include mixins.price-tracker-date-input;
        }
      }
    }

    button {
      @include mixins.price-tracker-button;
    }
  }

  canvas {
    display: block;
    width: 100% !important;
    max-height: 600px !important;
    border: 0;
    background: transparent;
  }
}
